<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Vote It</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="App/Content/Images/Cookie.png" type="image/png" />

    <!-- Chrome and Safari Pinned Site App -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- IOS Pinned Site App-->
    <link rel="apple-touch-icon-precomposed" href="Content/icon.png" />

    <!-- Resources -->
    <link href="Build/Css/all.min.css?v=1.2.4" rel="stylesheet" />
</head>
<body ng-controller="BaseCtrl as base" ng-cloak>
    <div class="container">
        <header>
            <h1>Vote It</h1>
        </header>
        <main>
            <label for="UserName">Name:</label><br />
            <input type="text" id="UserName" ng-model="user.userData.name" placeholder="Name" />
            <br /><br />

            <input type="checkbox" id="Ready" ng-model="user.userData.ready"> <label for="Ready">Vote</label>

            <br /><br />
            <label>Votes</label><hr />
            <ul class="user-list">
                <li ng-animate="'animate'" ng-repeat="user in base.users">
                    <div class="animated" ng-class="user.userData.ready ? 'user-status--valid bounceIn' : 'user-status--invalid'"></div>
                    <div class="user-name">{{ user.userData.name }}</div>
                </li>
            </ul>
        </main>
        <footer>
            <!--<a href="https://github.com/splintercode" target="_blank" class="built-by">Built by Cory Bateman</a>
            <a href="https://plus.google.com/u/0/102986296317731631979?rel=author" rel="publisher"></a>-->
        </footer>
    </div>
    <script src="Build/Js/all.js?v=1.2.4" async></script>
</body>
</html>