<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Vote It</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="App/Content/Images/Cookie.png" type="image/png" />

    <!-- Chrome and Safari Pinned Site App -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- IOS Pinned Site App-->
    <link rel="apple-touch-icon-precomposed" href="Content/icon.png" />

    <!-- Resources -->
    <link href="Build/Css/all.min.css?v=1.2.4" rel="stylesheet" />
</head>
<body ng-controller="BaseCtrl as base" ng-cloak ng-class="base.showNav ? 'pml-open' : ' '">

    <nav class="nav push-menu-left">
        <button ng-click="base.toggleNav()" class="close-menu-btn"><i class="icon-cancel float-right"></i></button>
        <a href="#/" class="nav__link" ng-click="base.toggleNav()">Join</a>
        <a href="#/vote" class="nav__link" ng-click="base.toggleNav()">Vote</a>
        <a href="#/about" class="nav__link" ng-click="base.toggleNav()">About</a>
    </nav>

    <header>
        <a href="#/" class="logo">Vote It</a>
        <button class="menu-btn toggle-push-left float-right" ng-click="base.toggleNav()"><i class="icon-menu"></i></button>
    </header>

    <main ng-view class="container fade">
    </main>

    <div class="mask" ng-click="base.toggleNav()" ng-class="base.showNav ? 'mask-on' : ' '"></div>
    <script src="Build/Js/all.js?v=1.2.4" async></script>
</body>
</html>