/*!
    Cory Bateman http://www.corycode.me 
    MIT License http://opensource.org/licenses/MIT 
*/

body {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 16px;
    background: #FAF3F2;
    color: #2d2d2d;
}

*, *:before, *:after {
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box;
    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;
    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.ng-hide {
    /* this is just another form of hiding an element */
    display: block !important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

header {
    padding: 12px;
    margin-bottom: 24px;
    background: $color-primary;
    position: relative;
    color: #FAF3F2;
}

h1 {
    font-size: 2em;
    line-height: 1.2em;
    margin: 0;

    @include respond-min(600px) {
        font-size: 2.2em;
    }
}

a {
    color: #2d2d2d;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        color: #2d2d2d;
        text-decoration: none;
    }
}

.user-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        min-height: 38px;
    }
}

.user-status {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: $color-vote-neutral;
    display: inline-block;
    margin-bottom: -4px;

    &--valid {
        @extend .user-status;
        background: $color-vote-yes;
    }

    &--invalid {
        @extend .user-status;
        background: $color-vote-no;
    }
}

.user-name {
    font-size: 1.3em;
    display: inline-block;
    margin: 6px 4px;
}
