﻿#push-wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
}

.mask-on {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

    @include respond-min($nav-break) {
        display: none;
    }
}

.menu-btn {
    position: absolute;
    top: 8px;
    right: 2px;
    padding: 8px;
    font-size: 1.8em;
    background: 0 0;
    border: none;

    @include respond-min($nav-break) {
        display: none;
    }
}

.close-menu-btn {
    background: none;
    border: none;
}

.nav {
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 100%;
    left: -300px;
    position: fixed;
    z-index: 3;
    background-color: $color-primary;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    .nav__link {
        display: block;
        padding: 13px;
        font-size: 1.4em;
        text-decoration: none;
        font-weight: 300;
        color: #fff;
        border-bottom: 1px solid darken($color-primary, 10%);

        &:hover, &:active, &:focus {
            background: darken($color-primary, 5%);
        }
    }

    .close-menu-btn {
        color: #fff;
        border: none;
        margin-bottom: 6px;
        padding: 10px;
        display: block;
        overflow: auto;
        position: absolute;
        font-size: 1.5em;
        right: 0;

        &:focus, &:active {
            outline: none;
        }
    }

    @include respond-min($nav-break) {
        position: absolute;
        left: 0;
        top: 65px;

        .close-menu-btn {
            display: none;
        }
    }
}

.pml-open {
    .nav {
        left: 0;
    }
}
