<h1>About</h1>
<p>
    A simple real time team voting app. Simply have two or more people join a room (case sensitive) and you will be able to vote anonymously or
    by name in real time. You can choose between yes, no and neutral. This is useful for teams to anonymously vote on technical issues or scrum cases.
</p>
<p>
    <a href="https://github.com/splintercode" target="_blank" class="built-by">Built by Cory Bateman</a>
    <a href="https://plus.google.com/u/0/102986296317731631979?rel=author" rel="publisher"></a>
</p>